$clr-dark : #000000;
$clr-light : #fff;
$clr-gray : #737373;
$clr-l-gray : #f2f7f3;
$clr-red : #b23920;
$clr-blue : #223c5f;
$clr-peach : #fde9cb;
$clr-gold: #f7b754;

$transparent : transparent;

$break-sm: 480px;
$break-md: 768px;
$break-lg: 1080px;
$break-xl: 1920px;